asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
contourpy==1.1.1
crispy==0.7.4
cycler==0.12.0
Django==4.2.6
django-access-tokens==0.9.2
django-cors-headers==4.3.1
django-crispy-forms==1.14.0
django-filter==23.3
django-jazzmin==2.6.0
django-multiselectfield==0.1.12
django-sendsms==0.5
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
drf-instamojo==0.0.1
drfaddons==0.1.4
fabio==2023.6.0
fonttools==4.43.1
form==0.0.1
h5py==3.9.0
idna==3.4
instamojo-wrapper==1.1
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.2
Pillow==10.0.1
psycopg==3.1.12
psycopg2==2.9.9
PyJWT==1.7.1
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
silx==1.1.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
