{% extends 'homepage/basic.html' %}
{% load static %}

{% block content %}

    <div class="sorrymsg">
        <h1>Sorry for the Inconvinience!!</h1>
        <h2>To proceed with the order payment click here</h2>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/+917067814864?text=Here%20is%20my%20order%20details.%0AMy%20OrderID:%20{{order.orderId}}&redirect_url={{ home }}"> 
            <img alt="Chat on WhatsApp" src="{% static 'homepage/images/WhatsAppButtonGreenLarge.png' %}" />
        </a>
        
    </div>

{% endblock %}