.formuser{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 3vh;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.formbox2{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    top: 20px;
    box-shadow: 10px 10px 8px darkgray;
    padding: 0 0 35px;
}
.signhead{
    font-size: 35px;
    font-weight: bold;
    background-image: linear-gradient(to right, black, #DC9563);
    color: white;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 5px;
}
.customform{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 0 20px;
}
.form-group label{
    font-size: 18px;
}
.form-group small{
    font-size: 14px;
    color: rgb(101, 101, 101);
}
.form-group small li{
    margin-left: 20px;
}
.customform input{
    width: 100%;
    height: 25px;
    margin: 2px 0 8px;
}
.invalid-feedback strong{
    background-color: antiquewhite;
    color: red;
    padding: 0 20px;
}
.registerbt{
    width: 100%;
    margin: 15px 0 0;
    padding: 10px 18px;
    font-size: 22px;
    border-radius: 20px;
    border: 0;
    background-image: linear-gradient(to right, black, #DC9563);
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 5px 5px 8px darkgray;
}
@media screen and (max-width: 700px) {
    .customform{
        width: 90%;
    }
    .formbox2{
        width: 95%;
        height: auto;
    }
}
