.sorrymsg{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vw;
    margin-top: 5rem;
    gap: 2rem;
}
.sorrymsg h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.sorrymsg a{
    display: flex;
    justify-content: center;
}
.sorrymsg h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.success{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vw;
    margin-top: 5rem;
    gap: 2rem;
    
}
.success h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: antiquewhite;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px darkgray;
}
.success .details{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.success .details p{
    width: fit-content;
    text-align: left;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: antiquewhite;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px darkgray;
}

@media screen and (max-width: 1000px) {
    .sorrymsg{
        height: fit-content;
        margin-bottom: 6rem;
        align-items: center;
    }
    .sorrymsg h1{
        font-size: 2.6rem;
    }
    .sorrymsg h2{
        font-size: 1.5rem;
    }
    .sorrymsg a{
        width: 90%;
    }
    .sorrymsg img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .success{
        margin-bottom: 30rem;
    }
    .success h1{
        width: 90%;
    }
    .success .details{
        width: 80%;
    }
}